header {
    background-color: var(--color-white);
}
.brand h1 {
    color: var(--color-dark);
}
.userName {
    color: var(--color-pink)
}
.nav-menu {
    display: flex;
    gap: 1em;
}
.nav-menu li a {
    color: var(--color-pink);
    text-transform: uppercase;
    font-size: 12px;
    background-color: var(--color-light);
    padding: 8px;
    border: 1px solid transparent;
}
.nav-menu li a:hover {
    border: 1px dashed var(--color-gray);
}